<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\StockSantiCaza.Web.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="outofprocess">
        <environmentVariables>
			<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			<environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=sql2016;Database=w400048_santicazarmeria;User Id=w400048_MariAdmin;Password=SantiMariOli@22;Integrated Security=False;Encrypt=False;TrustServerCertificate=True;MultipleActiveResultSets=true;Connection Timeout=60" />
		</environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>