<div class="brand">
    <strong>StockSantiCAZA</strong>
    <small>Control trazable</small>
</div>

<nav class="nav-menu">
    <NavLink href="" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink href="ventas/nueva">Nueva venta</NavLink>
    <NavLink href="reportes">Reportes</NavLink>
</nav>
