<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>ftp://w400048.ferozo.com</PublishUrl>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>https://stock.santicazaarmeria.com.ar</SiteUrlToLaunchAfterPublish>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <FtpPassiveMode>True</FtpPassiveMode>
    <AspNetCoreHostingModel>OutOfProcess</AspNetCoreHostingModel>
  </PropertyGroup>
</Project>
