@page "/Error"

<PageTitle>Error - StockSantiCAZA</PageTitle>

<section class="panel">
    <h1>Ocurrió un error</h1>
    <p>La operación no pudo completarse. Revise los registros de la aplicación o intente nuevamente.</p>
</section>
